body{
    margin: 0;
    font-family: arial;
    font-weight: 300;
    background-color: white;
  }
  
  .navbar{
    width: 80%;
    margin: 0 auto;
  }

  .row{
    width: 100%;
    padding: 10px;
    
  }
    
  .melee{
    text-align: center;
  }

  .ranged{
    text-align: center;
  }

  .row2{
    width: 100%;
    padding: 10px;
    
  }
    
  .armor{
    text-align: center;
  }

  .exotic{
    text-align: center;
  }

  .gear{
    text-align: center;
  }

  .fashion{
    text-align: center;
  }

  .ribbon{
    background-color: red;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  header{
    background: black;
  }
  
  header::after{
    content: '';
    display: table;
    clear: both;
  }
  
  .logo{
    float: left;
    height: 45px;
    padding: 10px 0;
  }
  
  nav{
    float: right;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover{
    color: red;
  }
  
  nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }

